:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy no-referrer-when-downgrade
}

proxy /vm unix//etc/caddy/vm {
    websocket
    header_upstream -Origin
}

proxy /vl unix//etc/caddy/vl {
    websocket
    header_upstream -Origin
}

proxy /s 127.0.0.1:5234 {
    websocket
    header_upstream -Origin
}

