:$PORT
auto_https off
root * /usr/share/caddy
file_server browse
encode gzip

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options SAMEORIGIN
    Referrer-Policy no-referrer-when-downgrade
}

reverse_proxy /vm unix//etc/caddy/vm {
    header_up +Connection
    header_up +Upgrade
    header_up -Origin
}

reverse_proxy /vl {
    to unix//etc/caddy/vl
    header_up +Connection (*)Upgrade(*) $1Upgrade$2
    header_up +Upgrade websocket
}

reverse_proxy /s {
    to 127.0.0.1:5234
    header_up +Connection (*)Upgrade(*) $1Upgrade$2
    header_up +Upgrade websocket
}
